@use '@abstracts/variables' as v;
@use '@abstracts/mixins' as mx;

.conquer_english {

    &__hero {
        position: relative;
        height: 70vh;
        margin-bottom: 5rem;

        &--slide {
            height: 100%;
            display: flex;
            // align-items: center;
            // justify-content: center;
            place-content: center;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            position: relative;
    
            &::before {
                content: '';
                position: absolute;
                inset: 0;
                background-color: rgba(v.$blue-light, .8); // Overlay más oscuro
                z-index: 1;
            }

            &--content {
                position: relative;
                z-index: 2;
                text-align: center;
                color: v.$white;
                padding-inline: 5rem;
                max-width: 40rem;

                @include mx.breakpoint(tablet) {
                    max-width: 100%;
                }

                &--main-title {
                    font-size: 1.5rem;
                    font-style: italic;
                    background-color: rgba(v.$black, .8);
                    text-transform: uppercase;
                    font-weight: 300;
                    letter-spacing: 0.05rem;
                    width: 80%;
                    padding-block: 0.2rem;
                    margin-inline: auto;
                    margin-bottom: 1.5rem;
                    max-width: 20rem;

                    @include mx.breakpoint(tablet) {
                        font-size: 1.8rem;
                    }
                    
                    @include mx.breakpoint(tablethorizontal) {
                        font-size: 2rem;
                        max-width: 30rem;
                    }

                    @include mx.breakpoint(desktop) {
                        font-size: 2.2rem;
                        max-width: 35rem;
                    }
                }

                &--title {
                    font-size: 2.5rem;
                    line-height: 1.2;
                    margin-bottom: 1rem;

                    @include mx.breakpoint(tablet) {
                        font-size: 3.3rem;
                    }
                    
                    @include mx.breakpoint(tablethorizontal) {
                        font-size: 3.5rem;
                    }
                    
                    @include mx.breakpoint(desktop) {
                        font-size: 3.8rem;
                    }
                }

                &--description {
                    color: v.$white;
                    margin-inline: auto;
                    margin-bottom: 1.5rem;

                    @include mx.breakpoint(tablet) {
                        max-width: 55ch;
                    }

                    @include mx.breakpoint(tablethorizontal) {
                        max-width: 100%;
                        font-size: 2rem;
                    }

                    @include mx.breakpoint(desktop) {
                        font-size: 2.2rem;
                    }
                }

                &--cta {
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                    background-color: v.$blue-dark;

                    &:hover {
                        background-color: rgba(v.$blue-dark, .8);
                    }
                }
            }
        }
    }

    .swiper {
        &-wrapper {
            height: 100%;
        }

        &-pagination {
            bottom: 2rem !important;
            color: #305281;
            opacity: .8;

            &:hover {
                opacity: 1;
            }

            &-bullet {
                background-color: #305281;
            }
        }

        &-button-prev,
        &-button-next {
            color: #305281;
            transform: scale(0.8);
            opacity: .8;

            &:hover {
                opacity: 1;
            }
        }

        &-button-prev {
            left: 1rem;

            @include mx.breakpoint(tablet) {
                left: 2rem;
            }
            
            @include mx.breakpoint(tablethorizontal) {
                left: 3rem;
            }

            @include mx.breakpoint(desktop) {
                left: 5rem;
            }
            
            @include mx.breakpoint(desktopxl) {
                left: 10rem;
            }
        }
        
        &-button-next {
            right: 1rem;

            @include mx.breakpoint(tablet) {
                right: 2rem;
            }
            
            @include mx.breakpoint(tablethorizontal) {
                right: 3rem;
            }
            
            @include mx.breakpoint(desktop) {
                right: 5rem;
            }
            
            @include mx.breakpoint(desktopxl) {
                right: 10rem;
            }
        }
    }

    // Fondos por slide
    .slide {
        &-1 {
            background-image: url('/img/slide1.webp');
        }

        &-2 {
            background-image: url('/img/slide2.webp');
        }
    
        &-3 {
            background-image: url('/img/slide3.webp');
        }
    
        &-4 {
            background-image: url('/img/slide4.webp');
        }
    }

    &__master {
        margin-bottom: 10rem;

        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            @include mx.breakpoint(tablethorizontal) {
                flex-direction: row;
                gap: 3rem;
                margin-bottom: 5rem;
            }
        }

        &--text {
            text-align: center;
            margin-bottom: 5rem;

            @include mx.breakpoint(tablethorizontal) {
                max-width: 50%;
                margin-bottom: 2rem;
            }

            &--title {
                margin-bottom: .5rem;
                font-size: 1.6rem;
                text-transform: uppercase;
                color: v.$blue;

                @include mx.breakpoint(tablet){
                    font-size: 1.8rem;
                }
                
            }
            
            &--subtitle {
                margin-bottom: 2rem;
                line-height: 1.4;
                font-size: 2.4rem;
                font-weight: 900;

                @include mx.breakpoint(tablet){
                    font-size: 3rem;
                    margin-inline: auto;
                    max-width: 30ch;
                }

                @include mx.breakpoint(tablethorizontal) {
                    max-width: 100%;
                }
            }
        }

        &--video {
            margin-bottom: 5rem;

            @include mx.breakpoint(tablet) {
                padding-inline: 7rem;
            }

            @include mx.breakpoint(tablethorizontal) {
                max-width: 50%;
                padding-inline: 0;
            }
        }

        &--features {
            display: flex;
            flex-direction: column;
            text-align: center;

            @include mx.breakpoint(tablethorizontal) {
                flex-direction: row;
                gap: 3rem;
            }

            &--feature {
                margin-bottom: 2.5rem;

                &--logo {
                    margin-bottom: .5rem;
                }

                &--title {
                    font-size: 2rem;
                    text-transform: uppercase;
                    line-height: 1.5;
                }

                &--description {
                    color: v.$grey;
                }
            }
        }
    }

    &__methodology {
        background-color: v.$bg-grey;
        padding-block: 5rem 10rem;
        
        &--content {
            text-align: center;
            margin-bottom: 5rem;

            &--title {
                line-height: 1.2;
                font-size: 3rem;
                font-weight: 300;
                margin-bottom: 2rem;

                @include mx.breakpoint(tablet) {
                    font-size: 3.8rem;
                }

                span {
                    font-family: v.$secondary-font;
                    font-style: italic;
                    font-weight: 700;
                    font-size: 3.5rem;

                    @include mx.breakpoint(tablet) {
                        font-size: 4.2rem;
                    }
                }
            }

            &--description {
                color: v.$grey;
                margin-inline: auto;
                
                @include mx.breakpoint(tablet) {
                    max-width: 95%;
                }
                
                @include mx.breakpoint(desktop) {
                    max-width: 90%;
                }
            }

            .bottom-space {
                margin-bottom: 1rem;
            }
        }

        &--img {
            display: flex;
            place-content: center;
            margin-inline: auto;
            background-image: url("/img/methodology-class.webp");
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 10rem;
            max-width: 90%;
            border-radius: 2rem;

            @include mx.breakpoint(tablethorizontal) {
                max-width: 70%;
            }

            @include mx.breakpoint(desktop) {
                max-width: 60%;
            }
        }
    }

    &__steps {
        margin-block: 5rem;
        text-align: center;

        @include mx.breakpoint(tablethorizontal) {
            text-align: left;
        }

        &--title  {
            font-weight: 900;
            font-size: 2.5rem;
            line-height: 1.4;
            text-align: center;
            margin-bottom: 3rem;

            @include mx.breakpoint(tablet) {
                font-size: 3.5rem;
            }
            
            span {
                font-weight: 400;
                
                b {
                    font-style: italic;
                    font-family: v.$secondary-font;
                    font-size: 3rem;
                    @include mx.breakpoint(tablet) {
                        font-size: 4.4rem;
                    }
                }
            }
        }

        &--articles {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @include mx.breakpoint(tablet) {
                gap: 2rem;
            }

            @include mx.breakpoint(tablethorizontal){
                flex-direction: row;
                gap: 2.5rem;
                padding-inline: 1.6rem;
            }

            &--article {
                flex: 1;

                &--title {
                    text-transform: uppercase;
                    font-size: 1.8rem;
                    line-height: 1.2;
                    margin-bottom: .5rem;

                    span {
                        color: v.$blue;
                        font-size: 4rem;
                    }
                }
                
                &--description {
                    font-size: 1.4rem;
                    color: v.$grey;

                    @include mx.breakpoint(tablet) {
                        max-width: 85%;
                        margin-inline: auto;
                    }

                    @include mx.breakpoint(tablethorizontal) {
                        max-width: 100%;
                        margin-inline: auto;
                    }
                }
            }
        }
    }

    &__levels {
        background-color: v.$bg-grey;
        text-align: center;
        padding-block: 5rem 10rem;

        &--title {
            font-size: 3.5rem;
            margin-bottom: 1rem;
        }

        &--description {
            color: v.$grey;
            margin-bottom: 3rem;
        }

        &_timeline {
            text-align: left;
            position: relative;
            padding-left: 0.3rem;
            border-left: 3px solid v.$blue;
            display: flex;
            flex-direction: column;
            gap: 3rem;

            &--box {
                position: relative;
                background-color: v.$white;
                box-shadow: 0px 5px 20px rgba(0, 0, 0, .05);
                border-radius: .6rem;
                padding: 2rem;
                margin-left: 1rem;

                &::before {
                    content: '';
                    position: absolute;
                    left: -2.5rem;
                    top: 2rem;
                    width: 1.5rem;
                    height: 1.5rem;
                    background-color: v.$white;
                    border: 3px solid v.$blue;
                    border-radius: 50%;
                    z-index: 2;
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: -1.6rem;
                    top: 3.5rem;
                    height: calc(100% - 3.5rem);
                    width: .3rem;
                    background-color: v.$blue;
                }

                &:last-child::after {
                    content: none;
                }

                @include mx.breakpoint(tablet) {
                    padding: 2rem 2.5rem;
                }

                &--title {
                    font-size: 2rem;
                    text-transform: uppercase;
                    color: v.$blue;
                    font-family: v.$secondary-font;
                    font-style: italic;

                    span {
                        text-transform: initial;
                        font-family: v.$primary-font;
                        font-style: normal;
                        font-weight: 600;
                    }
                }
                
                &--subtitle {
                    font-size: 2.4rem;
                    line-height: 1.3;
                    margin-bottom: .8rem;
                }

                &--description {
                    color: rgb(112, 120, 128);

                    p {
                        margin-bottom: 1rem;

                        span {
                            color: v.$blue;
                        }

                        &:nth-child(2),
                        &:nth-child(3) {
                            padding-left: .5em;
                        }
                    }

                    cite {
                        display: block;
                        margin-top: 1.5rem;
                        font-weight: 300;
                        color: v.$blue;
                    }
                }
            }
        }

        .timeline-dot {
            position: absolute;
            left: -2.3rem;
            top: 2.3rem;
            width: 1.5rem;
            height: 1.5rem;
            background-color: v.$white;
            border: 3px solid v.$blue;
            border-radius: 50%;
            z-index: 2;
            transition: transform 0.3s ease, background-color 0.3s ease;
        }
    }

    &__foryou {
        background-color: v.$black;
        padding: 5rem 1rem;
        
        .wrapper-articles {
            display: flex;
            gap: 3rem;
            flex-direction: column;

            @include mx.breakpoint(tablet) {
                flex-direction: row;
            }
            
            article {
                flex: 1;
                background-color: v.$bg-grey-dark;
                padding: 3rem;
                border-radius: .5rem;
                
                @include mx.breakpoint(tablethorizontal) {
                    padding: 3rem 5rem;
                }
            }
        }
        
        ul {
            @include mx.reset-list;

            li {
                display: flex;
                align-items: flex-start;
                position: relative;
                padding-left: 2.8rem;
                margin-bottom: 1.6rem;

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0.2rem;
                    width: 2rem;
                    height: 2rem;
                    background-size: contain;
                    background-repeat: no-repeat;
                    margin-top: 0.2rem;
                }
            }
        }
        
        &__isForyou {
            color: v.$white;
            
            &--title {
                color: v.$blue;
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 3rem;

            }

            &--list li::before {
                background-image: url("/icons/check-list.svg");
            }
        }
        
        &__isNotForyou {
            color: v.$white;
            
            &--title {
                color: v.$white;
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 3rem;
            }
            
            &--list li::before {
                background-image: url("/icons/uncheck-list.svg");
            }
        }
    }
    
    &__meetAndy {
        padding-block: 5rem;
        text-align: center;

        @include mx.breakpoint(tablethorizontal) {
            text-align: left;
        }
        
        .wrapper-meetAndy {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            
            @include mx.breakpoint(tablethorizontal) {
                flex-direction: row;
                gap: 5rem;
            }
        }

        &--text {
            max-width: 100%;

            @include mx.breakpoint(tablethorizontal) {
                max-width: 50%;
                margin-bottom: 0;
            }

            &--subtitle {
                color: v.$blue;
                text-transform: uppercase;
                margin-bottom: 1rem;

                @include mx.breakpoint(tablethorizontal) {
                    font-size: 2rem;
                }
            }

            &--title {
                font-family: v.$secondary-font;
                font-weight: 700;
                font-size: 4rem;
                line-height: 1.1;
                font-style: italic;
                margin-bottom: 2.5rem;

                @include mx.breakpoint(tablethorizontal) {
                    font-size: 5.5rem;
                }

                span {
                    text-transform: uppercase;
                }
            }

            &--description {
                margin-inline: 1rem;
                margin-bottom: 1.5rem;

                @include mx.breakpoint(tablet) {
                    margin-inline: 2rem;
                }
                
                @include mx.breakpoint(tablethorizontal) {
                    margin-inline: 0;
                }
            }
        }

        &--img {
            max-width: 100%;
            border-radius: .8rem;
            margin-inline: auto;

            @include mx.breakpoint(tablet) {
                max-width: 40rem;
            }
            
            @include mx.breakpoint(tablethorizontal) {
                max-width: 40%;
            }
        }
    }
}