@use '@abstracts/variables' as v;
@use '@abstracts/mixins' as mx;

.conquer_english {

    &__hero {
        position: relative;
        height: 70dvh;
        margin-bottom: 5rem;

        &--slide {
            height: 100%;
            display: flex;
            // align-items: center;
            // justify-content: center;
            place-content: center;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            position: relative;
    
            &::before {
                content: '';
                position: absolute;
                inset: 0;
                background-color: rgba(v.$blue-light, .8); // Overlay más oscuro
                z-index: 1;
            }

            &--content {
                position: relative;
                z-index: 2;
                text-align: center;
                color: v.$white;
                padding-inline: 5rem;
                max-width: 40rem;

                @include mx.breakpoint(tablet) {
                    max-width: 100%;
                }

                &--main-title {
                    font-size: 1.5rem;
                    font-style: italic;
                    background-color: rgba(v.$black, .8);
                    text-transform: uppercase;
                    font-weight: 300;
                    letter-spacing: 0.05rem;
                    width: 80%;
                    padding-block: 0.2rem;
                    margin-inline: auto;
                    margin-bottom: 1.5rem;
                    max-width: 20rem;

                    @include mx.breakpoint(tablet) {
                        font-size: 1.8rem;
                    }
                    
                    @include mx.breakpoint(tablethorizontal) {
                        font-size: 2rem;
                        max-width: 30rem;
                    }

                    @include mx.breakpoint(desktop) {
                        font-size: 2.2rem;
                        max-width: 35rem;
                    }
                }

                &--title {
                    font-size: 2.5rem;
                    line-height: 1.2;
                    margin-bottom: 1rem;

                    @include mx.breakpoint(tablet) {
                        font-size: 3.3rem;
                    }
                    
                    @include mx.breakpoint(tablethorizontal) {
                        font-size: 3.5rem;
                    }
                    
                    @include mx.breakpoint(desktop) {
                        font-size: 3.8rem;
                    }
                }

                &--description {
                    color: v.$white;
                    margin-inline: auto;
                    margin-bottom: 1.5rem;

                    @include mx.breakpoint(tablet) {
                        max-width: 55ch;
                    }

                    @include mx.breakpoint(tablethorizontal) {
                        max-width: 100%;
                        font-size: 2rem;
                    }

                    @include mx.breakpoint(desktop) {
                        font-size: 2.2rem;
                    }
                }

                &--cta {
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                    background-color: v.$blue-dark;

                    &:hover {
                        background-color: rgba(v.$blue-dark, .8);
                    }
                }
            }
        }
    }

    .swiper {
        &-wrapper {
            height: 100%;
        }

        &-pagination {
            bottom: 2rem !important;
            color: #305281;
            opacity: .8;

            &:hover {
                opacity: 1;
            }

            &-bullet {
                background-color: #305281;
            }
        }

        &-button-prev,
        &-button-next {
            color: #305281;
            transform: scale(0.8);
            opacity: .8;

            &:hover {
                opacity: 1;
            }
        }

        &-button-prev {
            left: 1rem;

            @include mx.breakpoint(tablet) {
                left: 2rem;
            }
            
            @include mx.breakpoint(tablethorizontal) {
                left: 3rem;
            }

            @include mx.breakpoint(desktop) {
                left: 5rem;
            }
            
            @include mx.breakpoint(desktopxl) {
                left: 10rem;
            }
        }
        
        &-button-next {
            right: 1rem;

            @include mx.breakpoint(tablet) {
                right: 2rem;
            }
            
            @include mx.breakpoint(tablethorizontal) {
                right: 3rem;
            }
            
            @include mx.breakpoint(desktop) {
                right: 5rem;
            }
            
            @include mx.breakpoint(desktopxl) {
                right: 10rem;
            }
        }
    }

    // Fondos por slide
    .slide {
        &-1 {
            background-image: url('/img/slide1.webp');
        }

        &-2 {
            background-image: url('/img/slide2.webp');
        }
    
        &-3 {
            background-image: url('/img/slide3.webp');
        }
    
        &-4 {
            background-image: url('/img/slide4.webp');
        }
    }

    &__master {
        margin-bottom: 10rem;

        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            @include mx.breakpoint(tablethorizontal) {
                flex-direction: row;
                gap: 3rem;
            }
        }

        &--text {
            text-align: center;
            margin-bottom: 5rem;

            @include mx.breakpoint(tablethorizontal) {
                max-width: 50%;
            }

            &--title {
                margin-bottom: .5rem;
                font-size: 1.6rem;
                text-transform: uppercase;
                color: v.$blue;

                @include mx.breakpoint(tablet){
                    font-size: 1.8rem;
                }
                
            }
            
            &--subtitle {
                margin-bottom: 2rem;
                line-height: 1.4;
                font-size: 2.4rem;
                font-weight: 900;

                @include mx.breakpoint(tablet){
                    font-size: 3rem;
                    margin-inline: auto;
                    max-width: 30ch;
                }

                @include mx.breakpoint(tablethorizontal) {
                    max-width: 100%;
                }
            }
        }

        &--video {
            margin-bottom: 5rem;

            @include mx.breakpoint(tablet) {
                padding-inline: 7rem;
            }

            @include mx.breakpoint(tablethorizontal) {
                max-width: 50%;
                padding-inline: 0;
            }
        }

        &--features {
            display: flex;
            flex-direction: column;
            text-align: center;

            @include mx.breakpoint(tablethorizontal) {
                flex-direction: row;
                gap: 3rem;
            }

            &--feature {
                margin-bottom: 2.5rem;

                &--logo {
                    margin-bottom: .5rem;
                }

                &--title {
                    font-size: 2rem;
                    text-transform: uppercase;
                    line-height: 1.5;
                }

                &--description {
                    color: v.$grey;
                }
            }
        }
    }
}