@use '@abstracts/variables' as v;
@use '@abstracts/mixins' as mx;

header {
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-inline: 3rem;
    padding-block: 1rem;
    background-color: v.$white;

    /* ----------------- Toggle (hamburger) ----------------- */
    &__toggle {
        background: none;
        border: none;
        cursor: pointer;
        display: block;
        padding: 0;
        line-height: 0;
    
        .icon-wrapper {
            position: relative;
            width: 30px;
            height: 30px;
            display: inline-block;
        }

        .icon {
            position: absolute;
            top: 0;
            left: 0;
            transition: opacity 0.1s ease, transform 0.5s ease;
            transform-origin: center center;
        }

        /* Estado cerrado (hamburguesa visible) */
        .icon--menu {
            opacity: 1;
            transform: rotate(0deg) scale(1);
        }

        .icon--close {
            opacity: 0;
            transform: rotate(-90deg) scale(0.8);
        }

        /* Cuando el menú está abierto */
        &.is-open {
            .icon--menu {
                opacity: 0;
                transform: rotate(90deg) scale(0.8);
            }

            .icon--close {
                opacity: 1;
                transform: rotate(0deg) scale(1);
            }
        }

        @include mx.breakpoint(tablethorizontal) {
            display: none;
        }
    }

    /* ----------------- Contenedor de opciones ----------------- */
    &__options {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: white;
        overflow: hidden;
        max-height: 0;
        transition: max-height .3s ease;

        &.is-open {
            max-height: 50rem;
        }

        @include mx.breakpoint(tablethorizontal) {
            position: static;
            max-height: none;
            background-color: transparent;
            overflow: visible;
            z-index: 100;
        }

        /* ----------------- Lista interna ----------------- */
        &--list {
            @include mx.reset-list;
            
            @include mx.breakpoint(tablethorizontal) {
                display: flex;
                gap: 1.5rem;
            }
            
            li {
                position: relative;
                border-bottom: 1px solid v.$blue;
                align-content: center;
                padding: 1.5rem;
                
                @include mx.breakpoint(tablethorizontal) {
                    border-bottom: none;
                    padding: 1rem 2.5rem;

                }

                &:hover {
                    background-color: v.$blue;
                    
                    a {
                        color: white;
                    }
                }

                &:last-child {
                    border-bottom: none;
                }

                a {
                    display: block;
                    width: 100%;
                    font-size: 1.6rem;
                    color: v.$black;
                    text-decoration: none;

                    @include mx.breakpoint(tablethorizontal) {
                        display: inline-block;
                        padding-inline-start: 0;
                    }
                }

                /* ----------- Ítem con submenu ----------- */
                &.has-submenu {
                    padding: 0;

                    &:hover svg {
                        fill: currentColor;
                    }

                    .submenu__toggle {
                        cursor: pointer;
                        background: none;
                        border: none;
                        width: 100%;
                        height: 100%;
                        text-align: left;
                        font-size: 1.6rem;
                        font-family: v.$primary-font;
                        color: v.$black;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 1.5rem;
                        
                        @include mx.breakpoint(tablethorizontal) {
                            padding: 1rem 2.5rem
                        }

                        &:hover {
                            color: v.$white;
                        }

                        svg {
                            transition: transform .3s ease;
                            fill: currentColor; /* hereda el color */
                        }

                        &[aria-expanded="true"] {
                            background-color: v.$blue;
                            color: v.$white;

                            svg {
                                transform: rotate(180deg);
                            }
                        }
                    }

                    .submenu {
                        list-style: none;
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height .3s ease;
                        background: v.$blue-light;
                        width: auto;

                        @include mx.breakpoint(tablethorizontal) {
                            position: absolute;
                            top: 100%;
                            left: 0;
                            background: white;
                            max-height: none;
                            display: none; // oculto por defecto
                            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
                            min-width: 100%;
                        }

                        li {
                            padding: 1.5rem 3rem;
                            border-bottom: 1px solid v.$grey;

                            @include mx.breakpoint(tablethorizontal) {
                                padding: 1rem 2.5rem;
                            }
                            
                            &:hover {
                                background-color: v.$black;
                                color: v.$white;
                                font-weight:500;
                                
                                a {
                                    color: v.$white;
                                }
                            }
                            
                            &:last-child {
                                border-bottom: none;
                            }
                            
                            a {
                                color: v.$black;
                                font-size: 1.4rem;

                                @include mx.breakpoint(tablethorizontal) {
                                    font-size: 1.4rem;
                                }
                            }
                        }
                    }
                    // Muestra el dropdown
                    .submenu.is-open {
                        max-height: 30rem;

                        @include mx.breakpoint(tablethorizontal) {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    &__cta {
        display: none;
         
        @include mx.breakpoint(tablethorizontal) {
            display: inline-block;
        }
    }
}